/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Theme variables */
:root {
  --background-color: #003ba8 !important;
  --text-color: white !important;
  --accent-color: #4b87f7 !important;
}

/* Global styles */
* {
  font-family: ubuntu;
  transition: all 0.3s ease;
}

/* Body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "ubuntu", sans-serif;
  margin: 0;
  padding: 0;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Search box */
#searchInput {
  padding: 17px;
  box-sizing: border-box;
  margin: 20px auto;
  width: 100%;
  max-width: 400px;

  border-radius: 10px;
  border: none;
  font-size: 24px;
  outline: none;
  text-align: center;
}

#searchInput:focus {
  border: 3px solid var(--accent-color);
}

/* Games grid */
#gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Game card */
.game {
  margin: 10px;
  text-align: center;

  flex: 1 0 200px;
  max-width: 200px;

  display: inline-block;

  border-radius: 10px;
  transition: transform 0.3s ease;
}

.game:hover {
  transform: scale(0.95);
  border: 2px solid var(--accent-color);
}

/* Game image */
.game img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Game title */
.game p {
  margin-top: 5px;
  font-weight: 600;
}

/* Layout helpers */
.center {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Footer */
.footer {
  margin: 10px auto;
  text-align: center;
}

/* Links */
.link {
  color: var(--accent-color);
  text-decoration: none;
}

/* Mobile tweaks */
@media only screen and (max-width: 600px) {
  .game {
    flex-basis: calc(50% - 20px);
  }
}

@media only screen and (max-width: 400px) {
  .game {
    flex-basis: calc(100% - 20px);
  }
}

@media only screen and (max-width: 450px) {
  #searchInput {
    width: 200px;
  }
}
